.App {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.MarkdownEnter {
    height: unset;
    grid-column: 1/1;
    background-color: #000000;
}

.MarkdownOutput {
    height: 100%;
    grid-column: 2/2;
}

.MarkdownEnter, .MarkdownOutput {
    width: 50vw;
    padding: 10px 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (width < 700px) {
    .App {
        flex-wrap: wrap-reverse;
    }

    .MarkdownEnter, .MarkdownOutput {
        height: 50%;
        width: 100vw;
    }
}